/* Edit Event form component

div.onsite {
  display: flex;
  justify-content: center;
}

.form {
  background: #FAFAFA;
}

/* i phone*/
@media only screen 
  and (min-width: 320px) 
  and (max-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    input[type="text"] {
      width: 50vw;
    }
    input[name="startDate"] {
      width: 15vw;
    }
    input[name="endDate"] {
      width: 15vw;
    
    }
    input[type="button"] {
      width: 35vw;
    }
}

/* i pad Portrait and Landscape */
@media only screen 
  and (min-width: 569px) 
  and (max-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
    input[type="text"] {
      width: 35vw;
    }
    input[name="startDate"] {
      width: 17vw;
    }
    input[name="endDate"] {
      width: 17vw;
    }
    input[type="button"] {
      width: 25vw;
    }
}

/* Desktop */
@media screen 
  and (min-width: 1112px) 
  and (max-width: 1600px)                               /* TODO: SORT DATE SIZINGS */
  and (-webkit-min-device-pixel-ratio: 1) { 
    input[type="text"] {
      width: 35vw;
    }
    input[name="startDate"] {
      width: 20vw;
    }
    input[name="endDate"] {
      width: 20vw;
    }
    input[type="button"] {
      width: 25vw;
    }
}

input[type="text"] {
  height: 4vh;
  border: 1px solid #363637;
  border-radius: 3px;
  margin-bottom: 2vh;
}

input[type="checkbox"] {
  display: flex;
  justify-content: start;
  height: 1.5vh;
  width: 1.5vw;
  background-color: #FAFAFA;
  margin-right: 2vw;
  margin-bottom: 2vh;
}

input[type="button"] { 
  height: 4vh;
  color: #FAFAFA;
  border: none;
  border-radius: 2px;
  font-family: "Alegreya";
  font-size: 2vh;
  font-weight: normal;
  background: #45A7C5;
  margin-bottom: 2.5vh;
}

input[name="addFacilitator"] {    
  height: 4vh;
  color: #FAFAFA;
  border: none;
  border-radius: 2px;
  font-family: "Alegreya";
  font-size: 2vh;
  font-weight: normal;
  background: #45A7C5;
  margin-bottom: 2.5vh;
}

input[name="addEvent"] {     
  height: 4vh;
  color: #FAFAFA;
  border: none;
  border-radius: 2px;
  font-family: "Alegreya";
  font-size: 2vh;
  font-weight: normal;
  background: #45A7C5;
  margin-bottom: 2.5vh;
}

div.dates {
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
}

div.button {
  display: flex;
  justify-content: center;
}

input[name="startDate"] {
  height: 4vh; 
  border: 1px solid #363637;
  margin-right: 2.5vh;
}

input[name="endDate"] {
  height: 4vh;
  margin-left: 2.5vh;
  border: 1px solid #363637
}

input[type="number"] {
  height: 4vh;
  width: 15vw;
  margin-left: 2.5vh;
  border: 1px solid #363637
}
p {
  color: #646464;
}


