

input[type="text"] {
  height: 4vh;
  border: 1px solid #363637;
  border-radius: 3px;
  margin-bottom: 2vh;
}

input[type="checkbox"] {
  display: flex;
  justify-content: start;
  height: 1.5vh;
  width: 1.5vw;
  background-color: #FAFAFA;
  margin-right: 2vw;
  margin-bottom: 2vh;
}

input[type="button"] { 
  height: 4vh;
  color: #FAFAFA;
  border: none;
  border-radius: 2px;
  font-family: "Alegreya";
  font-size: 2vh;
  font-weight: normal;
  background: #45A7C5;
  margin-bottom: 2.5vh;
}

input[name="addFacilitator"] {    
  height: 4vh;
  color: #FAFAFA;
  border: none;
  border-radius: 2px;
  font-family: "Alegreya";
  font-size: 2vh;
  font-weight: normal;
  background: #45A7C5;
  margin-bottom: 2.5vh;
}

input[name="addEvent"] {     
  height: 4vh;
  color: #FAFAFA;
  border: none;
  border-radius: 2px;
  font-family: "Alegreya";
  font-size: 2vh;
  font-weight: normal;
  background: #45A7C5;
  margin-bottom: 2.5vh;
}

div.dates {
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
}

div.button {
  display: flex;
  justify-content: center;
}

input[name="startDate"] {
  height: 4vh; 
  border: 1px solid #363637;
  margin-right: 2.5vh;
}

input[name="endDate"] {
  height: 4vh;
  margin-left: 2.5vh;
  border: 1px solid #363637
}

input[type="number"] {
  height: 4vh;
  width: 15vw;
  margin-left: 2.5vh;
  border: 1px solid #363637
}
p {
  color: #646464;
}





