Edit Event form component */

.fetch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #FAFAFA;
}
.eventCard {
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  width: 80vw;
  margin: 3vh;
}

.confirmation {
  display: flex;
  flex-direction: column; 
  align-self: flex-end;
}

.viewButton {   
  width: 15vh;
  height: 5vh;
  color: #FAFAFA;
  border: none;
  border-radius: 2px;
  font-family: 'Alegreya';
  font-size: 2vh;
  font-weight: normal;
  background: #45A7C5;
  margin-bottom: 2.5vh;
}

input[name="viewCalender"] {   
  width: 23vh;
  height: 3vh;
  color: #FAFAFA;
  border: none;
  border-radius: 3px;
  font-family: 'Alegreya';
  font-size: 2vh;
  font-weight: normal;
  background: #45A7C5;
  margin-bottom: 2.5vh;
}
