:root {
  --main-dark-color: #363637;
  --main-light-blue: #45A7C5;
  --main-dark-blue: #275480;
 }
 
 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Alegreya Sans';
}

body {
  background-color: #FAFAFA;
 }
 
 .header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
  background-color: var(--main-dark-blue);
  margin-bottom: 3vh;
  color: #FFFFFF;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: calc(16px + 4vw);
 }
 
 h2 {
  font-family: 'Alegreya', serif;
  font-size: 8vh;
  line-height: 85%;
}

h3 {
  display: flex;
  justify-content: center;
  font-size: 4vh;
}

h4 {
  font-size: 3vh;
}

h5 {
  font-size: 2.5vh;
}

ul{ 
  list-style-type: none;
}

li {
  min-width: 75vw;
}

.logo {
  width: 80vw;
  height: auto;
  margin: 5vh 10vw 10vh 10vw;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;  
  margin-left: 10vw;
  margin-right: 10vw;
}

.dates{
  margin-bottom: 2vh;
  width: 60vw;  
  /* background-color: purple; */
}


.singleBooking {
  display: flex;
  margin-left: 15vw;
  width: 70vw;
  justify-content: center;
  flex-direction: column;

}

.MuiInput-input-15 {
  /* font: inherit; */
  color: currentColor;
  border: 0;
  margin: 20vw;
  padding: 6px 0 7px;
  display: block;
  min-width: 30vw;
  flex-grow: 1;
  box-sizing: content-box;
  background: none;
  font-size: 3vh;
  -webkit-tap-highlight-color: transparent;
}

.edit-button{
  width: 20vw;
  border-radius: 5px;
  border: none;
 }
 
.notification {
  background: #DB5461;
  width: 100%;
}
.settingsbuttons {
  width: 40vw;
  height: 10vh;
}

.detailsButton {
  width: 20vw;
}

.logoutButton {
  width: 50vw;
}

 .delete-button{
  width: 20vw;
  background-color: rgb(150, 26, 26);
  border-radius: 5px;
  border: none;
}

.App {
  text-align: center;
  margin-bottom: 13vh;
}


.eventview {
  display: flex;
  align-content: space-around;
  justify-content: flex-start;
  background: #fafafa;
  
}


.eventCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  width: 90vw;
  margin: 3vh;
  padding: 2vh;
 }

 .eventDetails {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   padding-top: 2vh;
   text-align: left;
   
 }
 
 input[type="text"] {
  height: 4vh;
  border: 1px solid #363637;
  border-radius: 3px;
  margin-bottom: 2vh;
 }

 .onsite {
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin: 0 30vw 3vh 30vw;
 }
 
 input[type="checkbox"] {
  height: 3vh;
  background-color: #FAFAFA;
  margin: 0;
  width: 5vw;
 }

select{
  justify-content: center;
  height: 3vh;
  font-size: 2.5vh;
  color:  #363637;  
}

input[type="text"] {
  height: 4vh;
  border: 1px solid #363637;
  border-radius: 3px;
  margin: 0 0 2vh 0;
}


input[type="button"] { 
  height: 4vh;
  color: #FAFAFA;
  border: none;
  border-radius: 2px;
  font-family: "Alegreya";
  font-size: 2vh;
  font-weight: normal;
  background: #45A7C5;
  margin-bottom: 2.5vh;
}

.viewButton {   
  width: 15vh;
  margin-left: 0;
}

input[name="addFacilitator"] {    
  height: 4vh;
  color: #FAFAFA;
  border: none;
  border-radius: 2px;
  font-family: "Alegreya";
  font-size: 2vh;
  font-weight: normal;
  background: #45A7C5;
  margin-bottom: 2.5vh;
}

input[name="addEvent"] {     
  height: 4vh;
  color: #FAFAFA;
  border: none;
  border-radius: 2px;
  font-family: "Alegreya";
  font-size: 2vh;
  font-weight: normal;
  background: #45A7C5;
  margin-bottom: 2.5vh;
}

/* input[name="viewCalender"] {   
  width: 23vh;
  height: 3vh;
  color: #FAFAFA;
  border: none;
  border-radius: 3px;
  font-family: 'Alegreya';
  font-size: 2vh;
  font-weight: normal;
  background: #45A7C5;
  margin-bottom: 2.5vh;
} */

input[name="startDate"] {
  height: 4vh; 
  border: 1px solid #363637;
  margin-right: 2.5vh;
}

input[name="endDate"] {
  height: 4vh;
  margin-left: 2.5vh;
  border: 1px solid #363637
}

input[type="number"] {
  height: 4vh;
  width: 15vw;
  margin-left: 2.5vh;
  border: 1px solid #363637
}
p {
  color: #646464;
  font-size: 3vh;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.confirmation {
  display: flex;
  flex-direction: column; 
  align-self: flex-end;
}


 @media (min-width: 1000px) {
   .logo {
     width: 50vw;
     height: auto;
   }
  .eventDetails {
    /* justify-content: space-around; */
  }

  .eventDetails {
    text-align: left;
  }

  .onsite {
    margin: 0 40vw 3vh 40vw;
  }

  .eventCard {
    width: 60vw;
    margin: 3vh;
    padding: 2vh;
   }

   .settingsbuttons {
    width: 40vw;
    height: 10vh;
    width: 100%;
  }

 }
